*{
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
}
.btnprincipal{
    background-color: rgb(0, 0, 0);
    color: white;
    border: 2px solid black;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.btnsecundario{
    background-color: white;
    color: black;
    border: 2px solid black;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
h1{
    color: rgb(17, 17, 17);
}
h2{
    color: rgb(49, 49, 49);
}
p{
    color: rgb(80, 80, 80);
}
nav{
    display: flex;
    background-color: aliceblue;
    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: rgb(17, 17, 17);
}
.navegacao{
    display: flex;
    list-style: none;
    gap: 25px;
    align-items: center;
    margin-left: auto; 
    margin-right: 20px;
    color: rgb(49, 49, 49);
    font-weight: bold;
}
body{
    margin: 0px;
    background-color: aliceblue;
}
main{
    margin-top: 120px;
}
.sec1{
    padding-right: 100px;
    padding-left: 100px;
    margin-bottom: 120px;
    text-align: left;
    display: flex;
    align-items: center;
    background-color: aliceblue;
}
.sec2{
    padding-right: 100px;
    padding-left: 100px;
    background-color: azure;
}
#userfoto{
    margin-left: auto;
}
#userfoto img{
    width: 290px;
    border-radius: 190px;
    margin-top: 20px;
}
#divsb{
    flex: 1;
}
#listasb{
    flex: 1;
}
#listasb li{
    margin-bottom: 20px;
}
#skills ul{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 60px;
    margin-bottom: 100px;
}
#skills li{
    background-color: rgb(230, 230, 230);
    width: 15.2%;
    box-sizing: border-box;
    padding: 7px 60px;
    border-radius: 5px;
    text-align: center;
}
#sbmim{
    display: flex;
    align-items: center;
}
.card{
    box-shadow: 0px 0px 10px 0px rgba(180, 180, 180, 0.719);
    border-radius: 10px;
    background-color: white;
}
.card img{
    width: 100%;
    height: 60%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#projetos{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}
#projetos li{
    width: 31.5%;
}
footer{
    display: flex;
    text-align: center;
    padding: 20px;
    background-color: rgb(15, 15, 15);
    box-shadow: 0px -2px 10px 0px rgb(0, 0, 0);
    margin-top: 120px;
}
footer ul{
    color: white;
    display: flex;
    gap: 20px;
    margin-left: auto; 
}